// Color
  $color-background: #dfd9d9;
  $color-background-view: #d3b1b1;
  $color-background-error: #1a1a1afa;

  $color-text: #2b2b2b;
  $color-text-error: #f0f0f0e1;
  $color-link: #8b8b8b;

  $color-border-view: #8b8b8b;
  $box-shadow-error: 0px 0px 2px 1px $color-background-error;

// Content width
  $content-width-mobile: 420px;
  $padding-mobile: 1.0rem;

// dimensions
  $btn-border-radius: 2px;
  $radius-border-view: 4px;

  // Border
  $border: 1px solid $color-border-view;
