// Color
  $color-background: #dfd9d9;

  $color-text: #2b2b2b;

  $color-link: #8b8b8b;

  $color-border-view: #8b8b8b;

// Content width
  $content-width-mobile: 420px;
  $padding-mobile: 1.0rem;

// dimensions
  $btn-border-radius: 2px;

  // Border
  $border: 1px solid $color-border-view;
