@import '../../styles/abstract/abstracts';

.bounce_container {
  display: inline-block;

  width: 7.5rem;

  @include flex($justify-content: space-between);

  @extend %transition-hidden;

  font-size: inherit;
}

.bounce_point {
  display: inline-block;

  @include size(1em);
  margin-left: 0.5em;

  font-size: inherit;

  border-radius: 50%;
  background-color: currentColor;

  -webkit-animation: bouncedelay 1.4s infinite ease-in-out both;
          animation: bouncedelay 1.4s infinite ease-in-out both;

  &__1 {
    -webkit-animation-delay: -0.32s;
            animation-delay: -0.32s;
  }

  &__2 {
    -webkit-animation-delay: -0.16s;
            animation-delay: -0.16s;
  }
}

@-webkit-keyframes bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0)
  }

  40% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1.0);
            transform: scale(1.0);
  }
}
