@import '../../styles/abstract/abstracts';

.app {
  position: relative;

  width: 100%;
  padding: 1rem 0;

  @include flex($flex-direction: column);

  .app_loader {
    margin-top: 5rem;
  }
}

.app_controls {
  width: 100%;

  @include flex($align-items: stretch);
}
