@import '../../styles/abstract/abstracts';

.error {
  position: absolute;
  top: 1.5rem;
  left: 50%;

  width: calc(100% - 1rem);
  max-width: 30rem;
  padding: 0.5rem;

  transform: translateX(-50%);

  background-color: $color-background-error;
  color: $color-text-error;

  box-shadow: $box-shadow-error;

  border-radius: $radius-border-view;

  font-size: inherit;

  user-select: none;

  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}
