@import '../../styles/abstract/abstracts';

.city_card {
  position: relative;

  width: 32rem;
  min-width: 32rem;
  height: 25rem;
  padding: 1.5rem 1rem;
  margin: 1rem;

  @include flex($flex-direction: column);

  border: $border;
  border-radius: $radius-border-view;
  background-color: $color-background-view;

  .error {
    width: calc(100% - 2rem);
    top: 0;
    transform: translateX(-50%) translateY(-50%);
  }

  .card_content {
    flex-grow: 1;
    width: 100%;

    @include flex($flex-direction: column, $justify-content: flex-start);

    p {
      width: 100%;
      font-size: 0.95em;
      line-height: 1.4;
      text-align: left;
    }
  }

  button {
    min-width: 14rem;

    &:first-child {
      background-color: rgba(34, 139, 34, 0.692);
    }

    &:last-child {
      background-color: rgba(178, 34, 34, 0.705);
    }

    @include media-hover {
      &:hover {
        background-color: $color-link;
      }
    }
  }

  button + button {
    margin-left: 1rem;
  }
}

